<generic-table [gtClasses]="'table-hover'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [(gtData)]="configObject.data" [gtRowComponent]="expandedRow" [gtOptions]="{stack:true, highlightSearch:true}"></generic-table>
  <div class="text-xs-center">
    <gt-pagination [genericTable]="myTable"></gt-pagination>
  </div>
  <div class="card-footer">
    <strong>View source</strong><br/>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/app.module.ts" target="_blank">App module</a><br>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/rest/rest.component.ts" target="_blank">Component</a><br>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/rest/rest.component.html" target="_blank">Markup</a><br>
  </div>
